/* Componente de búsqueda de ubicación */
.location-search-box {
    display: flex;
    align-items: center;
    width: 286px;
    position: relative;
}

.location-search-box > img {
    border: 1px solid #ddd;
    border-right: none;
    height: 40px;
    padding-left: 5px;
}

.search-location-input-box {
    height: 40px;
    width: 100%;
    padding: 6px 20px 5px 10px;
    border: 1px solid #ddd;
    border-left: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}

/* Asegúrate de que la posición sea relativa y los z-index sean consistentes */
.search-location-input-results {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    z-index: 5;
    margin-top: 2px;
    border: 1px solid #555;
}

/* Componente de resultado de búsqueda de ubicación */
.search-location-result-item {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 12px;
    column-gap: 14px;
    cursor: pointer;
    text-align: left;
}

/* Estilos de iconos y texto en el resultado de búsqueda de ubicación */
.search-location-result-item > span:nth-of-type(1) {
    border: 1px solid #f0f0f5;
    border-radius: 50%;
    padding: 8px;
    background-color: #f0f0f5;
}

.search-location-result-item > span:nth-of-type(2) > div:nth-of-type(1) {
    color: #414146;
    font-size: 14px;
}

.search-location-result-item > span:nth-of-type(2) > div:nth-of-type(2) {
    color: #787887;
    font-size: 12px;
}

/* Cambios en el color del fondo y posición del cursor */
.search-location-result-item:hover {
    background-color: #f0f0f5;
    cursor: pointer;
}

/* Componente de búsqueda de médicos */
.doctor-search-box {
    display: flex;
    align-items: center;
    width: 430px;
    position: absolute;
    margin-top: 25px;
    margin-bottom: 20px;
    /* Añade una sombra más natural */
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0 0 inset;
    border-radius: 5px;
    height: 100vh;
}

/* Estilo del icono en el cuadro de búsqueda de médicos */
.doctor-search-box > img {
    border: 1px solid #ddd;
    border-right: none;
    height: 40px;
    padding-left: 5px;
}

/* Estilos del cuadro de búsqueda de médicos */
.search-doctor-input-box {
    height: 40px;
    width: 100%;
    padding: 6px 20px 5px 10px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    /* Añade bordes redondeados según el diseño */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid rgb(59, 58, 58);
}

/* Estilos del icono en el cuadro de búsqueda de médicos */
.findiconimg {
    width: 40px;
    left: 0;
    background-color: rgb(239, 234, 234);
    height: 40px;
    border: 1px solid rgb(59, 58, 58);
    z-index: -99;
}

/* Estilos del contenedor de resultados de búsqueda de médicos */
.search-doctor-input-results {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    z-index: 5;
    height: 420px;
    margin-top: 2px;
    border: 1px solid #555;
}

/* Estilos del resultado de búsqueda de médicos */
.search-doctor-result-item {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 12px;
    column-gap: 14px;
    cursor: pointer;
    text-align: left;
}

/* Cambios en el color del fondo al pasar el ratón sobre el resultado de búsqueda de médicos */
.search-doctor-result-item:hover {
    background-color: #f0f0f5;
}

/* Estilos de iconos y texto en el resultado de búsqueda de médicos */
.search-doctor-result-item > span:nth-of-type(1) {
    border: 1px solid #f0f0f5;
    border-radius: 50%;
    padding: 8px;
    background-color: #f0f0f5;
}

.search-doctor-result-item > span:nth-of-type(2) {
    font-size: 14px;
    color: #414146;
}

.search-doctor-result-item > span:nth-of-type(3) {
    font-size: 11px;
    flex-grow: 1;
    color: #787887;
    text-align: right;
    text-transform: uppercase;
    justify-self: flex-end;
}

/* Estilos del contenedor principal */
.home-search-container {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

/* Estilos generales del contenedor principal */
.finddoctor {
    overflow: hidden;
}

/* Estilos específicos de la imagen principal */
.finddoctor .mainimg {
    width: 312px;
    height: 312px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}
